
// variables

// フォント
$base_font_size: 1.6rem;
$base_title_size: 5.6rem;
$base_sub_title: 2.4rem; 

//tabフォント
$tab_font_size: 1.2rem;
$tab_title_size: 4.0rem;
$tab_sub_title: 1.8rem;

// コンテンツ幅
$content_width: 1200px;

// セクション毎の高さ
$mgt-pc: 120px;
$mgt-sp: 80px;

// z-indexの管理
$z_index_nav_drawer: 1002;
$z_index_nav_header: 1000;

// カラーコード
$color_main: #F6BD60;
$color-accent: #84A59D;
$color_white: #ffffff;
$color_black: #333;

